In [1]:
import pandas as pd


# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

high_school_dict = {}
high_school_dict["School ID"] = school_id
high_school_dict["School Name"] = school_name
high_school_dict["Type of School"] = type_of_school

high_school_df = pd.DataFrame(high_school_dict)
high_school_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [2]:
high_school_df.columns

Index(['School ID', 'School Name', 'Type of School'], dtype='object')

In [3]:
high_school_df.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
high_school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [5]:
# create lists for columns in the table
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_type = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District","Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

school_df = pd.DataFrame()
school_df["School ID"] = school_id
school_df["School Name"] = school_name
school_df["School Type"] = school_type
school_df

    School ID            School Name School Type
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6    Cabrera High School     Charter
7           7     Bailey High School    District
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13       Ford High School    District
14         14     Thomas High School     Charter